*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
 body {
    font-family: "Josefin Sans", sans-serif;
    background-image : url(../img/1534646.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    overflow: hidden;
    
} 
.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 110vh;
    background-color: rgba(0, 0, 0, 0.444);
    display: flex;
    flex-direction: column;
} 
nav {
    position: fixed;
    top: 0;
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100px;
    line-height: 100px;
    background: linear-gradient(rgba(39, 39, 39, 1), transparent ) ;
    z-index: 100;
}
.logo {
    padding-left: 250px;
    text-decoration: none;
    color: rgb(231, 231, 231);
    font-size: 4rem;
    font-weight: 450;

} 
.navigation-btns {
    padding-right: 250px;
}
.navigation-btns {
    padding-right: 250px;
}
.navigation-btns .btn {
    color: rgb(255, 255, 255);
    width: 200px;
    height: 40px;
    font-size: 17px;
    background-color: rgba(198, 227, 242, 0.406);
    border: none;
    border-radius: 30px;
    cursor: pointer;
    transition: .3s ease;
}
.btn:hover {
    background-color: rgba(0, 0, 0, 0.213);
    transform:scale(1.05);
}
#loginbtn , #registrationbtn {
    margin-right:17px ; 
}
.first-text {
    color: aliceblue;
    font-size: 37px;
    position: relative;
    top: -73px;
    left: -120px;
    margin-left: 20px;
    font-family: 'Poppins';
    font-size: 36px;
    font-weight: 400;
    text-shadow: 0px 1px 4px #000;
}
.second-text {
    color: #fff;
    font-size: medium;
    font-style: italic;
    text-shadow: 1px 1px 14px #000;
}
.second-text span {
    font-size: medium;
    color: #fff;
    text-shadow: 10px 10px 20px #000;
}
.second-text span:hover {
cursor: pointer;
border-bottom: 1px solid white;
}
span {
    font-style:italic;
    color: cyan;
    font-weight: 800;
    font-size: 40px;
}
.btnss {
    display: flex;
    flex-direction: column;
    position: relative;
    left: -500px;
}
.btns {
    margin-top: 40px;
    width: 250px;
    height: 50px;
    color: rgb(255, 255, 255);
    background-color: rgba(198, 227, 242, 0.406);
    border-radius: 30px;
    border: none;
    transition: .3s ease;
    font-size: 17px;
}
.btns:hover {
    background-color: rgba(0, 0, 0, 0.213);
    transform:scale(1.05);
}
footer{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    border-radius: 50px 50px 0px 0px ;
    background-color: rgba(5, 5, 5, 0.383);
    backdrop-filter: blur(3px);
    height: 170px;
    width: 100vw;
    font-family: "Open Sans";
    padding-top: 20px;
    color: #fff;
}
.footer-content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
.flyinfooter {
    text-decoration: none;

}
.socials{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5px 0 3rem 0;
}
.socials li{
    margin: 0 10px;
}
.socials a{
    text-decoration: none;
    color: #fff;
}
.socials a i{
    font-size: 1.1rem;
    transition: all .4s ease;

}
.socials a:hover i{
    color: aqua;
    transform:scale(1.05);
}
span {

}
