*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
.body {
    background-image: url(../img/2782422.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    overflow: hidden;
}
.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 110vh;
    background-color: rgba(0, 0, 0, 0.444);
}
nav {
    position: fixed;
    top: 0;
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100px;
    line-height: 100px;
    background: linear-gradient(rgba(39, 39, 39, 1), transparent ) ;
    z-index: 100;
}
.logo {
    padding-left: 250px;
    text-decoration: none;
    color: rgb(231, 231, 231);
    font-size: 4rem;
    font-weight: 450;
}
.navigation-btns {
    padding-right: 250px;
}
.navigation-btns .btn {
    color: rgb(255, 255, 255);
    width: 200px;
    height: 40px;
    font-size: 17px;
    background-color: rgba(198, 227, 242, 0.406);
    border: none;
    border-radius: 30px;
    cursor: pointer;
    transition: .3s ease;
}
.btn:hover {
    background-color: rgba(0, 0, 0, 0.213);
    transform:scale(1.05);
}
#homebtn , #loginbtn {
    margin-right:17px ; 
}
.the-box {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 512px;
    height: 420px;
    z-index: 2;
}
.form-container {
    
    display: flex;
    flex-direction: column;
    transition: .5s ease-in-out;
    /* border: 1px solid white; */
    padding: 35px 130px 35px 100px;
    background: transparent;
    backdrop-filter: blur(9px);
    border-radius: 15px;
}

.top span {
    color: rgb(227, 231, 235);
    /* padding: 150px; */
    position: relative;
    left: 172px;
    font-size: small;
}
.top span a {
    font-weight: 500;
    color: rgb(227, 231, 235);;
}
header {
    color: aliceblue;
    font-size: 40px;
    text-align: center;
    margin-top: 10PX;
}
.two-inputs {
    display: flex;
}
#fristname-id {
    margin-left: 10px;
}
.input-field {
    background-color: rgba(240, 248, 255, 0.374);
    color: aliceblue;
    width: 100%;
    height: 40px;
    border: none;
    border-radius: 30px;
    margin: 15PX;
    padding: 0 10px 0 45px;
    transition: .2s ease;
}
.input-field:hover , .input-field:focus {
    background-color: rgba(240, 248, 255, 0.504);
}
::-webkit-input-placeholder {
    color: aliceblue;
}
#message {
    color: aliceblue;
    padding-left: 58px;
    margin-top: 10px;
}
.submit {
    background-color: rgba(240, 248, 255, 0.374);
    color: aliceblue;
    width: 100%;
    height: 40px;
    border: none;
    border-radius: 30px;
    margin-top: 21px;
    margin-left: 15px;
    transition: .3s ease;
}
.submit:hover {
    background-color: rgba(0, 0, 0, 0.346);
    transform:scale(1.03);
}
.two-else {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}
.Remember-me {
    padding-left: 30px;
    color: aliceblue;
    font-size: small;
    margin-top: 10px;
}
.terms {
    color: aliceblue;
    font-size: small;
    text-decoration: none;
}
.terms:hover {
    border-bottom: 1px solid white;
}
@media only screen and (max-width: 786px) {
    .navigation-btns {
        display: none;
    }
}
